body {
  margin: auto;
  font-family: "roboto", sans-serif;
  color: #000;
  background-color: #fff;
  width: 1200px;
}

header {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 150px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  li:not(:last-child) {
    border-right: #000 3px solid;
    padding-right: 15px;
  }
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.intro {
  padding: 40px 10%;
  text-align: justify;
}

.intro h2 {
  text-align: center;
  margin-bottom: 20px;
}

.highlight {
  color: #c32727;
  font-weight: bold;
}

.expositions {
  background-color: #a33d2b;
  color: white;
  text-align: center;
  padding: 40px 0;
}

.expo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.expo-grid img {
  width: 150px;
  height: auto;
  border: 2px solid #fff;
}

.galerie {
  background-color: #000;
  color: #B8885B;
  text-align: center;
  padding: 40px 0;
}

.galerie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  justify-items: center;
  margin: 30px 10%;
}

.galerie-grid img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.buttons {
  display: flex;
  margin-top: 200px;
  justify-content: flex-end;
  margin-right: 20px;
}

button {
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.gal-btn {
  background-color: #B8885B;
  color: white;
}

.gal-alt {
  background-color: #E6E6E6;
  color: #B8885B;
}

.footer-btn {
  background-color: black;
  color: white;
}

.footer-alt {
  background-color: #E6E6E6;
  color: black;
}

.contact-info {
  display: flex;
  background-color: #B8885B;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 0 20px;
  h2 {  
    font-family: "Jomhuria", serif;
    font-size: 128px;
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: -2px;
  }
}

footer {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}